<div class="col-xs-11 col-xs-offset-1 fontNormal addInventory" layout="column">
        <div class="sectionSubHeading">
            <h3>{{heading}} Product / Service</h3>
        </div>
        <div class="topPadding20">
            <md-content>
                <form name="addInventoryForm" style="background-color:#f5f6f8">
                        <div layout="row">
                                <md-input-container flex="25">
                                    <label>Product / Sevice</label>
                                    <md-select class="mdSelect" name="product" ng-model="inventory.product" required ng-disabled="btnLabel == 'Update'">
                                        <md-option value="Product 1">Product 1</md-option>
                                        <md-option value="Product 2">Product 2</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div layout="row" class="topPadding10">
                                    <md-input-container flex="25">
                                        <label>Name</label>
                                        <input name="name" ng-model="inventory.name" required>
                                    </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>Group</label>
                                            <input name="group" ng-model="inventory.group">
                                            <div ng-messages="addInventoryForm.group.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                    </md-input-container>
                                    <md-input-container flex="25" flex-offset="5">
                                        <label>Unit of Measure</label>
                                        <md-select name="unit" ng-model="inventory.unit" required>
                                            <md-option value="one">One</md-option>
                                            <md-option value="two">Two</md-option>
                                        </md-select>
                                        <div ng-messages="addInventoryForm.unit.$error">
                                                <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                            </div>
                            <div layout="row">
                                    <md-input-container flex="25">
                                        <label>HSN Code</label>
                                        <input name="hsnCode" ng-model="inventory.hsnCode">
                                    </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>Barcode</label>
                                            <input name="barcode" ng-model="inventory.barcode">
                                    </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>SKU</label>
                                            <input name="sku" ng-model="inventory.sku">
                                    </md-input-container>
                            </div>
                            <div layout="row">
                                    <md-input-container flex="25">
                                        <label>Vendor</label>
                                        <md-select name="vendor" ng-model="inventory.vendor">
                                            <md-option value="one">Vendor 1</md-option>
                                            <md-option value="two">Vendor 2</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>Price</label>
                                            <input name="price" ng-model="inventory.price" required>
                                            <div ng-messages="addInventoryForm.price.$error">
                                                <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>Description</label>
                                            <input name="desc" ng-model="inventory.descript">
                                    </md-input-container>
                            </div>
                            <div layout="row" class="topPadding20">
                                <md-button ng-click="togglePannel()" class="md-raised md-primary marginLeft0" flex="22" style="text-align:left;">
                                            Detailed Specification
                                            <span ng-hide="!panelShow" class="pull-right description">+</span>
                                            <span ng-hide="panelShow" class="pull-right description">-</span>
                                </md-button>
                            </div>
                            <div ng-hide="panelShow" layout="row" class="topPadding30" ng-repeat="desc in Description">
                                   
                                    <md-input-container flex="25">
                                            <label>Name</label>
                                            <input name="wew" ng-model="desc.name">
                                    </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                            <label>Value</label>
                                            <input name="value" ng-model="desc.value">
                                    </md-input-container>
                                    <md-input-container flex="5"  flex-offset="5">
                                            <img class="marginTop12" height="30" width="30" src="application/Images/Assets/INVENTORY_page/minus.png" ng-click="Remove($index)"/>
                                    </md-input-container>
                                    <md-input-container flex="5"  flex-offset="2">
                                            <img class="marginTop12" height="30" width="30" src="application/Images/Assets/INVENTORY_page/plus.png" ng-click="Add()" ng-if="$last"/>
                                    </md-input-container>
                            </div>
                            <div layout="row" class="topPadding30 imageUpload">
                                
                <md-content>
                <div flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-init="{singleFile:true}">
                        <div ng-show="!$flow.files.length">
                        <img src="application/Images/Assets/noImage.png" height="200" width="275" />
                        </div>
                        <div ng-show="$flow.files.length">
                        <img flow-img="$flow.files[0]" height="200" width="275"/>
                        </div>
                        <div style="text-align:center;" class="topPadding20">
                        <md-button ng-show="!$flow.files.length" class="md-raised md-primary ifBold" >
                                <label for="select">Image Upload</label>
                        </md-button>
                        <input class="file-input" flow-btn id="select" ng-show="!$flow.files.length">
                        <md-button ng-show="$flow.files.length" class="md-raised md-primary ifBold">
                        <label for="change">Change</label>
                        </md-button>
                        <input class="file-input" flow-btn id="change" ng-show="$flow.files.length">
                        <md-button ng-show="$flow.files.length" class="md-raised md-primary ifBold">
                        <label for="cancel">Remove</label>
                        </md-button>
                        <input class="file-input" id="cancel" ng-click="$flow.cancel()"
                        ng-show="$flow.files.length">
                        </div>
                </div>
                </md-content>

                            </div>
    <div layout="row" class="addPaddingButtons">
            <md-button class="md-raised ifBold" flex-offset="30" ng-if="btnLabel != 'Update'" ng-click="reserAll()">Reset All</md-button>
            <md-button class="md-raised md-primary ifBold" ng-if="btnLabel != 'Update'">{{btnLabel}}</md-button>
            <md-button class="md-raised md-primary ifBold" flex-offset="40" ng-if="btnLabel == 'Update'">{{btnLabel}}</md-button>
            <md-button class="md-raised md-primary ifBold" flex="22">{{btnLabel}} & Purchase</md-button>
            <md-button class="md-raised ifBold" ng-click="cancel()">Cancel</md-button>
    </div>
                </form>
            </md-content>
        </div>
        <div class="">
        </div>
    </div>