<div class="col-xs-11 col-xs-offset-1 fontNormal addInventory" layout="column" style="overflow-y:hidden">
        <div class="sectionSubHeading">
            <h3>{{heading}} Journal</h3>
        </div>
        <div class="topPadding20">
            <md-content>
                <form name="addInventoryForm" style="background-color:#f5f6f8">
                            <div layout="row" class="topPadding10">
                                    <md-input-container flex="25">
                                            <label>Date</label>
                                            <md-datepicker ng-model="date" md-hide-icons="triangle" md-open-on-focus=""></md-datepicker>
                                        </md-input-container>
                                        <!--<md-input-container flex="55"  flex-offset="5">
                                                <label>Reference</label>
                                                <input name="ref" ng-model="ref">
                                        </md-input-container>-->
                            </div>
                           
                           
                            <div layout="row" flex="85">
                                   <table class="journalTable">
                                       <thead>
                                           <tr>
                                                <th>Select From Ledger</th>
                                                <th>Select To Ledger</th>
                                            <th>Amount</th>
                                            <th>Narration</th>
                                        </tr>
                                       </thead>
                                       <tbody>
    <tr>
            <td>
                    <md-input-container class="onlySelect">
                        <md-select name="from" ng-model="journal.from">
                            <md-option value="Product 1">Product 1</md-option>
                            <md-option value="Product 2">Product 2</md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td>
                        <md-input-container class="onlySelect">
                            <md-select name="from" ng-model="journal.to">
                                <md-option value="Product 1">Product 1</md-option>
                                <md-option value="Product 2">Product 2</md-option>
                            </md-select>
                        </md-input-container>
                    </td>
        <td>
            <div layout="row">
                <md-input-container class="onlySelect" style="padding-top: 28px;">
                        <md-select name="from" ng-model="journal.dr">
                            <md-option value="debit">Dbt</md-option>
                            <md-option value="credit">crd 2</md-option>
                        </md-select>
                    </md-input-container>
            <md-input-container style="padding-top: 28px;">
                <input name="debit" ng-model="journal.amount">
            </md-input-container>
        </div>
        </td>
        <td>
                <md-input-container style="padding-top: 28px;">
                        <input name="debit" ng-model="journal.narration">
                    </md-input-container>
        </td>
    </tr>

            </tbody>
        </table>
</div>
<div layout="row" class="addPaddingButtons" flex="85">
        <md-button class="md-raised ifBold" flex-offset="80">Reset</md-button>
        <md-button class="md-raised md-primary ifBold" ng-click="">Add</md-button>
</div>
</form>
</md-content>
</div>

<div>
        <div class="col-xs-11 text-right pagingPart paddingBottom10 paddingRight30" ng-class="moduleHeading == 'Application Users' || moduleHeading == 'Role List'  ? '' : ''">
                <span class="pull-left">Total Records : <b>{{gridOptions.data.length}}</b></span>
                <span class="buttonBorder" ng-click="prevPage()">
                    <img src="application/Images/Assets/pagination_left.png"/>
                </span>
                <span class="pageIndicator">{{ gridApi.pagination.getPage() }} / {{ gridApi.pagination.getTotalPages() }}</span>
                <span class="buttonBorder" ng-click="nextPage()">
                    <img src="application/Images/Assets/pagination_right.png"/>
                </span>
                <span class="ui-grid-pager-row-count-picker">
                    <select class="selectPaginationBox" ng-model="paging.pageSelected" 
                    ng-change="seek(paging.pageSelected)"
                     ng-options="o for o in pageNumber">
                    </select>
                </span>
        </div>
        <div class="col-xs-11 inventorySection paddingRight30 paddingBottom30" ng-class="moduleHeading == 'Role List' ? 'centerItems' : ''">
                <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-pagination ui-grid-auto-resize ui-grid-grouping class="grid">
                    <div class="watermark" ng-show="!gridOptions.data.length">No data available</div>
                </div>
        </div>
</div>
<div layout="row" class="addPaddingButtons" flex="80">
    <md-button class="md-raised ifBold" flex-offset="67">Save</md-button>
    <md-button class="md-raised md-primary ifBold" ng-click="cancel()">Cancel</md-button>
</div>
</div>