<div class="col-xs-11 col-xs-offset-1 fontNormal addInventory" layout="column" style="overflow:hidden">
    <div class="sectionSubHeading">
        <h3 class="pull-left">{{heading}} Receipt</h3>
        <img class="pull-right downloadPayment" src="application/Images/Assets/download_icon.png" height="40" width="40"/>
    </div>
    <div class="topPadding20">
        <md-content>
            <form name="addReceiptForm" style="background-color:#f5f6f8">
                        <div layout="row" class="topPadding10">
                                <md-input-container flex="55">
                                        <label>Customer Name</label>
                                        <md-select ng-change="getCustomer()" name="cust_name" ng-model="receipt.customername" required ng-disabled="btnLabel == 'Update'">
                                            <md-option value="customer1">Customer 1</md-option>
                                            <md-option value="customer2">Customer 2</md-option>
                                        </md-select>
                                        <div ng-messages="addReceiptForm.cust_name.$error" ng-if="addReceiptForm.cust_name.$touched">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                    <div flex-offset="5" style="padding-top:25px;" >
                                        <img src="application/Images/Assets/eye.png" ng-click="checkCustomer(receipt.customername)"/>
                                    </div>
                        </div>
                        <div layout="row" class="topPadding10">
                            <md-input-container flex="85">
                                <label>Address</label>
                                <input name="add1" ng-model="receipt.add" ng-readonly="ifCustomer">
                            </md-input-container>
                    </div>
                        <!--<div layout="row" class="topPadding20">
                            <md-button ng-click="togglePannel()" class="md-raised md-primary marginLeft0" flex="22" style="text-align:left;">
                                        Identity
                                        <span ng-hide="!panelShow" class="pull-right description">+</span>
                                        <span ng-hide="panelShow" class="pull-right description">-</span>
                            </md-button>
                        </div>-->
                       <!-- <div layout="row" class="topPadding10" ng-hide="panelShow">
                                <md-input-container flex="25">
                                    <label>Address 1</label>
                                    <input name="add1" ng-model="receipt.add1" ng-readonly="ifCustomer">
                                </md-input-container>
                                <md-input-container flex="25"  flex-offset="5">
                                        <label>Address 2</label>
                                        <input name="add2" ng-model="receipt.add2" ng-readonly="ifCustomer">
                                </md-input-container>
                                <md-input-container flex="25" flex-offset="5">
                                        <label>PIN</label>
                                        <input name="pin" ng-model="receipt.pin" ng-readonly="ifCustomer">
                                </md-input-container>
                        </div>
                        <div layout="row" ng-hide="panelShow" class="topPadding10">
                                <md-input-container flex="25">
                                    <label>City</label>
                                    <input name="city" ng-model="receipt.city" ng-readonly="ifCustomer">
                                </md-input-container>
                                <md-input-container flex="25" flex-offset="5">
                                        <label>State</label>
                                        <md-select name="state" ng-model="receipt.state" ng-disabled="ifCustomer">
                                            <md-option value="Product 1">state 1</md-option>
                                            <md-option value="Product 2">state 2</md-option>
                                        </md-select>
                                    </md-input-container>
                                <md-input-container flex="25"  flex-offset="5">
                                        <label>Country</label>
                                        <input name="country" ng-model="receipt.country" ng-readonly="ifCustomer">
                                </md-input-container>
                        </div>
                        <div layout="row" class="topPadding10" ng-hide="panelShow">
                                <md-input-container flex="25">
                                        <label>GST Number</label>
                                        <md-select name="gst" ng-model="receipt.gst" ng-disabled="ifCustomer">
                                            <md-option value="Product 1">GST 1</md-option>
                                            <md-option value="Product 2">GST 2</md-option>
                                        </md-select>
                                    </md-input-container>
                                <md-input-container flex="25" flex-offset="5">
                                        <label>PAN</label>
                                        <input name="pan" ng-model="receipt.pan" ng-readonly="ifCustomer">
                                </md-input-container>
                                <md-input-container flex="25"  flex-offset="5">
                                        <label>Aadhar</label>
                                        <input name="aadhar" ng-model="receipt.aadhar" ng-readonly="ifCustomer">
                                </md-input-container>
                        </div>
                        <div layout="row"  ng-hide="panelShow">
                                <md-input-container flex="25">
                                        <label>Mobile</label>
                                        <input name="mobile" ng-model="receipt.mobile" ng-readonly="ifCustomer">
                                </md-input-container>
                                <md-input-container flex="25" flex-offset="5">
                                        <label>E-Mail</label>
                                        <md-select name="email" ng-model="receipt.email" ng-disabled="ifCustomer">
                                            <md-option value="parth.pandey@gmail.com">parth.pandey@gmail.com</md-option>
                                            <md-option value="parth@gmail.com">parth@gmail.com</md-option>
                                        </md-select>
                                    </md-input-container>
                                <md-input-container flex="25"  flex-offset="5">
                                        <label>Registration Number</label>
                                        <input name="aadhar" ng-model="receipt.registration" ng-readonly="ifCustomer">
                                </md-input-container>
                        </div>-->
                        <div layout="row" class="">
                                <md-input-container flex="25">
                                        <label>Receipt Number</label>
                                        <input name="receipt" ng-model="receipt.receipt" ng-readonly="true">
                                </md-input-container>
                                <md-input-container flex="25" flex-offset="5">
                                        <label>Against</label>
                                        <md-select name="against" ng-model="receipt.against" required>
                                            <md-option value="Product 1">against 1</md-option>
                                            <md-option value="Product 2">against 2</md-option>
                                        </md-select>
                                        <div ng-messages="addReceiptForm.against.$error" ng-if="addReceiptForm.against.$touched">
                                            <div ng-message="required">This is required.</div>
                                    </div>
                                    </md-input-container>
                        </div>
                        <div layout="row">
                                <md-input-container flex="25">
                                        <label>Payment Mode</label>
                                        <md-select name="mode" ng-model="receipt.mode" required>
<md-option ng-repeat="data in paymentList" ng-value="{{data.paymentmodeid}}">{{data.mode}}</md-option>
                                        </md-select>
                                        <div ng-messages="addReceiptForm.mode.$error" ng-if="addReceiptForm.mode.$touched">
                                            <div ng-message="required">This is required.</div>
                                    </div>
                                    </md-input-container>
                                <md-input-container flex="25" flex-offset="5">
                                    <label>Amount</label>
                                    <input name="amount" ng-model="receipt.amt" required>
                                    <div ng-messages="addReceiptForm.amount.$error" ng-if="addReceiptForm.amount.$touched">
                                        <div ng-message="required">This is required.</div>
                                </div>
                                </md-input-container>
                                <md-input-container flex="25" flex-offset="5">
                                        <label>Date</label>
                                        <md-datepicker name="date" ng-model="receipt.date" md-hide-icons="triangle" md-open-on-focus="" required></md-datepicker>
                                        <div ng-messages="addReceiptForm.date.$error">
                                            <div ng-message="valid">The entered value is not a date!</div>
                                            <div ng-message="required">This date is required!</div>
                                        </div>
                                    </md-input-container>
                        </div>
                        <div layout="row">
                                <md-input-container flex="25">
                                        <label>Bank Name</label>
                                        <input name="bnkName" ng-model="receipt.bnkName" ng-disabled="receipt.mode == 'credit'">
                                    </md-input-container>
                                <md-input-container flex="25" flex-offset="5">
                                    <label>Branch</label>
                                    <input name="branch" ng-model="receipt.branch" ng-disabled="receipt.mode == 'credit'">
                                </md-input-container>
                                <md-input-container flex="25"  flex-offset="5">
                                        <label>Reference</label>
                                        <input name="ref" ng-model="receipt.ref">
                                </md-input-container>
                        </div>
                        <div layout="row" class="">
                                <md-input-container flex="25">
                                        <label>TDS Deducted by Customer</label>
                                        <md-select name="tds" ng-model="receipt.tds">
                                            <md-option value="Product 1">tds 1</md-option>
                                            <md-option value="Product 2">tds 2</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="25"  flex-offset="5">
                                        <label>Amount</label>
                                        <input name="amt" ng-model="receipt.amt">
                                </md-input-container>
                        </div>
                        
                        <div layout="row" class="addPaddingButtons">
                            <md-button class="md-raised md-primary ifBold" flex-offset="75">Add Receipt</md-button>
                        </div>
            </form>
        </md-content>
    </div>
    <div>
            <div class="col-xs-11 text-right pagingPart topPadding10 paddingBottom10 paddingRight30">
                    <span class="pull-left">Total Records : <b>{{gridOptions.data.length}}</b></span>
                    <span class="buttonBorder" ng-click="prevPage()">
                        <img src="application/Images/Assets/pagination_left.png"/>
                    </span>
                    <span class="pageIndicator">{{ gridApi.pagination.getPage() }} / {{ gridApi.pagination.getTotalPages() }}</span>
                    <span class="buttonBorder" ng-click="nextPage()">
                        <img src="application/Images/Assets/pagination_right.png"/>
                    </span>
                    <span class="ui-grid-pager-row-count-picker">
                        <select class="selectPaginationBox" ng-model="paging.pageSelected" 
                        ng-change="seek(paging.pageSelected)"
                         ng-options="o for o in pageNumber">
                        </select>
                    </span>
            </div>
        <div class="col-xs-11 inventorySection paddingRight30 paddingBottom30" ng-class="moduleHeading == 'Role List' ? 'centerItems' : ''">
            <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-pagination ui-grid-auto-resize ui-grid-grouping class="grid">
                <div class="watermark" ng-show="!gridOptions.data.length">No data available</div>
            </div>
    </div>
    </div>
    <div layout="row" class="addPaddingButtons">
            <!--<md-button class="md-raised ifBold" flex-offset="35" ng-click="resetAll()" ng-if="btnLabel != 'Update'">Reset All</md-button>-->
            <md-button class="md-raised md-primary ifBold" flex-offset="50" ng-if="btnLabel != 'Update'">{{btnLabel}}</md-button>
            <md-button class="md-raised md-primary ifBold" flex-offset="50" ng-if="btnLabel == 'Update'">{{btnLabel}}</md-button>
            <md-button class="md-raised md-primary ifBold" flex="15">Print All</md-button>
            <md-button class="md-raised ifBold" ng-click="cancel()">Cancel</md-button>
    </div>
</div>