<div class="ajaxLoader" ng-if="showLoaderWithProgress">
        <img src="application/Images/Assets/ajax-loader.gif" />
        <span style="position: absolute;
        margin-top: 21%;
        color: black;
        left: 45%;
        font-size: 16px;
        font-weight: bold;">Saving {{i}} of {{tempGridData.length}} Records...</span>
    </div><div class="paddingLeft60" layout="column" style="overflow-y:hidden;">
    <div class="col-xs-12 sectionSubHeading">
        <h2>Import Ledgers</h2>
    </div>
    <div class="col-xs-12 sectionSubSection topPadding20">
        <div class="col-xs-7 form-group has-feedback noPadding">
            <input type="text" class="form-control" id="inputSuccess2"
            placeholder="Click here to select a file to import (*.csv or xlsx only)"
            ng-model="picFile.name"/>
        </div>
        <div class="col-xs-2 paddingLeft30 noPaddingRight">
            <md-button class="md-raised md-primary ifBold ifWhite"  type="file" ngf-select="import($file)" ng-model="picFile" name="file" ng-disabled="addLedgerForm.$valid" ng-class="{'hideCursor' : !addLedgerForm.$valid}">Import</md-button>
        </div>
    </div>
    <div class="col-xs-11 fontNormal addInventory" layout="column">
        <div class="topPadding20">
            <md-content>
                <form name="addLedgerForm" style="background-color:#f5f6f8">
                            <!--<div layout="row" class="topPadding10">
                                    <md-input-container flex="25">
                                        <label>Name*</label>
                                        <input name="name" ng-model="ledger.name">
                                    </md-input-container>
                                    <md-input-container flex="25" flex-offset="5">
                                        <label>Group/Ledger</label>
                                        <md-select name="ledger" ng-model="ledger.ledger">
                                            <md-option value="one">1</md-option>
                                            <md-option value="two">2</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="25" flex-offset="5">
                                        <label>Group</label>
                                        <md-select name="group" ng-model="ledger.group">
                                            <md-option value="one">One</md-option>
                                            <md-option value="two">Two</md-option>
                                        </md-select>
                                    </md-input-container>
                            </div>-->
                            <div layout="row">
                                    <md-input-container flex="25">
                                            <label>Primary Group</label>
                                            <md-select ng-change="changeGroup()" name="primaryGroup" ng-model="ledger.primaryGroup">
                                                <md-option ng-repeat="data in primaryGroupList" ng-value="data.name">{{data.name}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container flex="25" flex-offset="5">
                                            <label>Major Group</label>
                                            <md-select name="majorGroup" ng-model="ledger.majorGroup" ng-change="changeMainGroup()">
                                                <md-option ng-repeat="data in majorGroupList" ng-value="data.name">{{data.name}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container flex="25" flex-offset="5">
                                            <label>Sub Group</label>
                                            <md-select name="subGroup" ng-model="ledger.subGroup" ng-change="changeSubGroup()">
                                                <md-option ng-repeat="data in subGroupList" ng-value="data.name">{{data.name}}</md-option>
                                            </md-select>
                                        </md-input-container>
                            </div>
                            <div layout="row" class="topPadding25">
                                    <md-input-container flex="25">
                                            <label>Ledger(s)</label>
                                            <md-select name="desc" ng-model="ledger.desc" required>
                                                    <md-option ng-repeat="data in groupLedgerList" ng-value="data.name">{{data.name}}</md-option>
                                            </md-select>
                                        </md-input-container>
                        </div>
                </form>
            </md-content>
        </div>
    </div>




    <div class="col-xs-9 paddingTop100 noPaddingRight pagingPart ">
        <ul class="nav nav-tabs col-xs-9" ng-if="saveEnabled">
            <li class="active">
                <a data-toggle="tab" ng-click="switchData('success')">Success</a>
            </li>
            <li>
                <a data-toggle="tab" ng-click="switchData('failure')">Failure</a>
            </li>
          </ul>
    </div>

    <div class="tab-content">
            <div id="home" class="tab-pane fade in active col-xs-9">
                <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-edit ui-grid-pagination ui-grid-auto-resize class="grid">
                    <div class="watermark" ng-show="!gridOptions.data.length">No data available</div>
                </div>
            </div>
          </div>
</div>
<div class="col-xs-9" ng-if="saveEnabled">
        <md-button class="md-raised md-primary ifBold ifWhite pull-right" ng-click="saveList()">Save</md-button>
    </div>