<div class="col-xs-12 fontNormal addInventory" layout="column" style="overflow:hidden">
    <div class="sectionSubHeading">
        <h3 class="pull-left">{{selectedProduct}}</h3>
    </div>
    <div class="topPadding20">
        <md-content>
            <form name="inventoryDetailsForm" style="background-color:#f5f6f8">
                <div layout="row" class="topPadding10">
                    <md-input-container flex="55">
                            <label>Product</label>
                            <md-select name="product" ng-model="selectedProduct">
                                <md-option ng-repeat="data in gridData" ng-value="data.productname">{{data.productname}}</md-option>
                            </md-select>
                        </md-input-container>
                </div>
            </form>
        </md-content>
    </div>
  <div>
            <!--  <div class="col-xs-11 text-right pagingPart topPadding10 paddingBottom10 paddingRight30">
                    <span class="pull-left">Total Records : <b>{{gridOptions.data.length}}</b></span>
                    <span class="buttonBorder" ng-click="prevPage()">
                        <img src="application/Images/Assets/pagination_left.png"/>
                    </span>
                    <span class="pageIndicator">{{ gridApi.pagination.getPage() }} / {{ gridApi.pagination.getTotalPages() }}</span>
                    <span class="buttonBorder" ng-click="nextPage()">
                        <img src="application/Images/Assets/pagination_right.png"/>
                    </span>
                    <span class="ui-grid-pager-row-count-picker">
                        <select class="selectPaginationBox" ng-model="paging.pageSelected" 
                        ng-change="seek(paging.pageSelected)"
                         ng-options="o for o in pageNumber">
                        </select>
                    </span>
            </div>-->
        <div class="col-xs-12 inventorySection paddingBottom30 noPadding">
            <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-pagination ui-grid-auto-resize ui-grid-edit class="grid">
                <div class="watermark" ng-show="!gridOptions.data.length">No data available</div>
            </div>
    </div>
    </div>
    <div layout="row" class="addPaddingButtons">
            <md-button class="md-raised md-primary ifBold" flex-offset="80" ng-click="save()" ng-disabled="disableSave">Save</md-button>
            <md-button class="md-raised ifBold" ng-click="cancel()">Cancel</md-button>
    </div>
</div>
