<div class="login">
    <div class="paddingTop70">
    <div class="marginBottom30">
        <md-content layout="row" layout-align="center center" style="background-color: white">
            <h1>Password Reset</h1>
        </md-content>
    </div>
    <md-content  style="background-color: white">
        <form name="passwordResetForm">
                <div layout="row" class="topPadding10" layout-align="center center">
            <md-input-container flex="30" class="">
                    <label>Password</label>
                    <input type = "password" name = "password"
                       ng-model = "creds.password"
                       ng-pattern = "strongRegex"
                       required
                      />
                      <div ng-messages="passwordResetForm.password.$error" ng-if="passwordResetForm.password.$touched">
                            <div ng-message="required">Password is Required</div>
                            <div ng-message="pattern">Password Not Strong</div>
                    </div>
            </md-input-container>
            </div>
            <div layout="row" class="topPadding10" layout-align="center center">
            <md-input-container flex="30" class="marginBottom30">
                    <label>Confirm Password</label>
                    <input type = "password" name = "cpassword"
                       ng-model = "creds.cpassword"
                       ng-pattern="creds.password"
                       required
                       />
                       <div ng-messages="passwordResetForm.cpassword.$error" ng-if="passwordResetForm.cpassword.$touched">
                            <div ng-message="required">Password is Required</div>
                            <div ng-message="pattern">Password Not Matched</div>
                    </div>
            </md-input-container>
        </div>
        </form>
    </md-content>
        <div>
            <md-content layout="row" layout-align="center center" style="background-color: white" class="marginBottom30">
                <md-button flex="20" class="md-raised md-primary" ng-disabled="!passwordResetForm.$valid" ng-class="{'hideCursor' : !passwordResetForm.$valid}" ng-click="resetPassword()">Reset Password</md-button>
            </md-content>
        </div>
   
    </div>
    </div>