<table class="journalTable withRole">
<thead ng-repeat="list in row.entity.specification">
        <tr ng-if="$first">
        <th >SNO.</th>
        <th ng-repeat="spec in list" ng-if="spec.ifSpecDefined && $parent.$first">
                {{spec.specnamekey}}
        </th>
        </tr>
</thead>
<tbody ng-repeat="list in row.entity.specification">
        <tr>
                <td>{{$index+1}}</td>
                <td style="padding:0px;" ng-repeat="spec in list" ng-if="spec.ifSpecDefined && $parent.$first">
               {{spec.specvalue}}
                </td>
                <td style="padding:0px;" ng-repeat="spec in list" ng-if="spec.ifSpecDefined && !$parent.$first">
                                {{spec.specvalue}}
                </td>
        </tr>
        </tbody>
</table>
